.arrivals {
  margin-top: 64px;
  overflow: hidden;

  @include tablet {
    margin-top: 103px;
  }
}

.arrivals__header {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @include desktop {
    justify-content: flex-start;
    gap: 94px;
  }
}

.arrivals__heading {
  margin-bottom: 33px;

  @include tablet {
    margin-bottom: 0;
  }
}

.arrivals__nav-list {
  display: flex;
  gap: 24px;
  margin: 0 auto;
  padding: 0;

  @include tablet {
    margin: 0;
  }

  @include desktop {
    gap: 33px;
  }
}

.arrivals__nav-item:last-child {
  display: none;

  @include tablet {
    display: block;
  }
}

.arrivals__nav-button {
  border: none;
  background: none;
  padding: 0;
  font-family: "Montserrat";
  @include text-parameters(13px, 400, 196%);
  color: $text-color;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    color: $theme-color;
  }

  &:active {
    opacity: 0.5;
  }

  &.mixitup-control-active {
    color: $theme-color;
  }
}

.arrivals__wrapper {
  position: relative;
}

.arrivals__products-wrapper {
  margin-top: 40px;
  margin-bottom: 20px;

  & .swiper-slide {
    max-width: 291px!important;
  }

  @include tablet {
    margin-top: 50px;
    margin-bottom: 40px;

    & .swiper-slide {
      max-width: 270px!important;
    }
  }

  @include desktop {
    margin-bottom: 55px;
  }
}

.arrivals__slider-scrollbar {
  position: relative;
  width: 290px;
  height: 13px;
  border-top: 5px solid #ffffff;
  border-bottom: 4px solid #ffffff;;
  margin: 26px auto 0 auto;
  background-color: #e2e4f2;

  @include tablet {
    width: 470px;
    margin: 19px auto 0;;
  }

  @include desktop {
    margin: 4px auto 0 auto;
  }
}

.arrivals__slider-drag {
  position: absolute;
  width: 47px;
  height: 13px;
  background-color: $secondary-text;
  border-radius: 0;
  left: 0;
  bottom: -4px;
  transform: translateY(-50%);
  filter: drop-shadow(0px 2px 10px rgba(46, 55, 101, 0.22));
}

.arrivals__slider-arrow--left,
.arrivals__slider-arrow--right {
  display: none;

  @media (min-width: 1316px) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 15px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 10;

    & svg {
      fill: none;
      stroke: $secondary-text;
    }
  }
}

.arrivals__slider-arrow--left {
  left: -44px;
}

.arrivals__slider-arrow--right {
  right: -44px;
  left: auto;
}
