.offer {
  overflow-x: hidden;
}

.offer__wrapper {
  @media(min-width: 1500px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.offer__text-wrapper {
  animation-name: fadeInLeft;
  animation-duration: 1s;
  @media(min-width: 1500px) {
    max-width: 445px;
    margin-top: 6px;
  }
}

.offer__heading {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;
  color: $text-color;
  margin-top: 11px;
  margin-bottom: 26px;
  padding-right: 25px;

  @include tablet {
    margin-top: 57px;
    margin-bottom: 27px;
    width: 465px;
    font-size: 36px;
    line-height: 44px;
    padding-right: 0;
  }

  @include desktop {
    margin-bottom: 26px;
  }

  @media(min-width: 1500px) {
    margin-top: 0;

    & br {
      display: inline;
    }
  }
}

.offer__text {
  margin-top: 0;
  margin-bottom: 28px;

  @include tablet {
    font-size: 16px;
    margin-bottom: 34px;
    padding-right: 45px;
  }

  @include desktop {
    margin-bottom: 40px;
  }
}

.offer__slider {
  margin-top: 52px;
  margin-left: -15px;
  margin-right: -15px;
  background-color: rgba($theme-color, 0.06);
  animation-name: fadeInRight;
  animation-duration: 1s;

  @include tablet {
    margin-top: 70px;
  }

  @include desktop {
    margin-left: calc((-100vw + 1230px) / 2 - 30px);
    margin-right: calc((-100vw + 1230px) / 2 - 30px);
  }

  @media(min-width: 1500px) {
    margin-top: 0;
    width: 685px;
    background: linear-gradient(90deg, #FFFFFF 7.08%, rgba(49, 69, 255, 0.06) 7.09%);
  }

  @media(min-width: 1922px) {
    margin-right: -250px;
  }
}

.offer__slider-wrapper {
  height: auto;
  display: flex;
  margin: 0 15px;
  padding-top: 32px;
  padding-bottom: 68px;

  @include tablet {
    padding-bottom: 32px;
  }

  @include desktop {
    margin: 0 calc((100vw - 1230px) / 2 + 30px);
  }

  @media(min-width: 1500px) {
    margin: 0;
  }
}

.offer__slide {
  width: 100%;
  display: none;
  padding: 31px 17px 33px 8px;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 15px 50px rgba(45, 47, 94, 0.3);
  transition: 0.5s opacity ease-in;


  @include tablet {
    position: relative;
    padding: 31px 33px 39px 8px;
  }
}

.offer__slide-watch {
  background-image: url("../img/raster/offer-sliderbg1-mobile@1x.jpg");

  .rs1:checked ~ & {
    display: block;
    animation-name: fade;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
  }

  @include retina {
    background-image: url("../img/raster/offer-sliderbg1-mobile@2x.jpg");
  }

  @include tablet {
    background-image: url("../img/raster/offer-sliderbg1-tablet@1x.jpg");

    @include retina {
      background-image: url("../img/raster/offer-sliderbg1-tablet@2x.jpg");
    }
  }

  @include desktop {
    background-image: url("../img/raster/offer-sliderbg1-desktop@1x.jpg");

    @include retina {
      background-image: url("../img/raster/offer-sliderbg1-desktop@2x.jpg");
    }
  }
}

.offer__slide-dji {
  background-image: url("../img/raster/offer-sliderbg-mobile@1x.jpg");

  .rs2:checked ~ & {
    display: block;
    animation-name: fade;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
  }

  @include retina {
    background-image: url("../img/raster/offer-sliderbg-mobile@2x.jpg");
  }

  @include tablet {
    background-image: url("../img/raster/offer-sliderbg-tablet@1x.jpg");

    @include retina {
      background-image: url("../img/raster/offer-sliderbg-tablet@2x.jpg");
    }
  }

  @include desktop {
    background-image: url("../img/raster/offer-sliderbg-desktop@1x.jpg");

    @include retina {
      background-image: url("../img/raster/offer-sliderbg-desktop@2x.jpg");
    }
  }
}

.offer__slide-ipad {
  background-image: url("../img/raster/offer-sliderbg3-mobile@1x.jpg");

  .rs3:checked ~ & {
    display: block;
    animation-name: fade;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
  }

  @include retina {
    background-image: url("../img/raster/offer-sliderbg3-mobile@2x.jpg");
  }

  @include tablet {
    background-image: url("../img/raster/offer-sliderbg3-tablet@1x.jpg");

    @include retina {
      background-image: url("../img/raster/offer-sliderbg3-tablet@2x.jpg");
    }
  }

  @include desktop {
    background-image: url("../img/raster/offer-sliderbg3-desktop@1x.jpg");

    @include retina {
      background-image: url("../img/raster/offer-sliderbg3-desktop@2x.jpg");
    }
  }
}

.offer__slider-img {
  display: block;
  width: 265px;
  height: 144px;

  @include tablet {
    width: 687px;
    height: 374px;

    .offer__slide-watch & {
      position: relative;
      right: 83px;
      bottom: 10px;
    }

    .offer__slide-ipad & {
      position: relative;
      right: 120px;
      bottom: -43px;
    }
  }

  @media (min-width: 1500px) {
    position: relative;
    right: 160px;

    .offer__slide-watch & {
      right: 170px;
      bottom: -8px;
    }

    .offer__slide-ipad & {
      right: 230px;
      bottom: -50px;
    }
  }
}

.slider-offer__wrapper {
  position: relative;
  margin-left: 13px;
  margin-top: 33px;
  margin-bottom: 53px;

  &::before {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: white;
    left: -17px;
    top: -11px;
  }

  @include tablet {
    position: absolute;
    width: 181px;
    right: 29px;
    bottom: 18px;
  }

  @media(min-width: 1500px) {
    right: 116px;
    bottom: 20px;
  }
}

.offer__slider-heading {
  margin: 0;
  @include text-parameters(15px, 900, 18px);
  letter-spacing: 0.02em;
}

.offer__slider-text {
  margin-top: 10px;
  margin-bottom: 25px;
  @include text-parameters(12px, 400, 15px);
  color: #ffffff;

  @include tablet {
    margin-bottom: 11px;
  }
}

.offer__slider-price {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  width: 238px;

  @include tablet {
    margin-bottom: 4px;
    width: 175px;
  }
}

.offer__slider-price b {
  font-size: 13px;
}

.offer__slider-link {
  display: block;
  width: 20px;
  height: 17px;
  font-size: 0;
  transition: 0.3s;

  &:hover {
    filter: drop-shadow(0px 2px 8px rgba(255, 255, 255, 0.4));
  }

  & svg {
    stroke: white;
  }
}

.offer__slider-actions {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 18px;
  bottom: 102px;
  margin-left: 23px;

  @include tablet {
    margin-left: 46px;
    bottom: 70px;
    padding-bottom: 12px;
  }

  @include desktop {
    bottom: 67px;
  }
}

.offer__slider-bullet {
  width: 39px;
  height: 8px;
  background: rgba(255, 255, 255, 0.35);
  transition: 0.3s ease-in;
  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }

  &:focus {
    background: rgba(255, 255, 255, 0.3);
  }

  .rs1:checked ~ .offer__slider-actions &[for="rs1"],
  .rs2:checked ~ .offer__slider-actions &[for="rs2"],
  .rs3:checked ~ .offer__slider-actions &[for="rs3"] {
    background-color: #ffffff;
  }

}
