// Colors

$theme-color: #3145ff;
$accent-color: #eb2d66;
$text-color: #2a2d46;
$secondary-text: #9094b8;
$white: #ffffff;

// Fonts

$montserrat: "Montserrat", sans-serif;

// Container Parameters

$container-width: 1230px;
$desktop-padding: 0 30px;
$mobile-padding: 0 15px;

// Screen Resolutions

$mobile-only: 767px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1230px;

// Плотность пикселей (ретина) //

$retina-resolution: 2dppx;
